.header{
    background-color: antiquewhite;
    padding: 70px;
}
.content{
    background-color: rgb(210, 190, 166);
    padding: 200px;
    padding: 70px;
    width: 1000px;

   
    



} 

.LielaisBloks{
width: 50%;
border:2px;



}









.footer{
    background-color: rgb(117, 104, 89);
    padding: 70px;
    
    
   
}


